{% extends "_main.jinja2" %}
{% block title %} Login {% endblock %}

{% block main %}

    <form action="{{ url_for('view_login') }}" method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.username.label }}
            {{ form.username() }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password() }}
        </p>
    <input type="submit" value="login">
    </form>

{% endblock %}