{% extends "_main.jinja2" %}
{% block title %} Welcome to Markdown blog {% endblock %}

{% block main %}
rotesty sa v sobotu konali v nemeckých mestách Berlín, Düsseldorf, Hannover, Stuttgart, Drážďany a Frankfurt nad Mohanom. Demonštranti na protestoch pochodovali s plagátmi, na ktorých predostreli rôzne požiadavky od zníženia inflácie po odklon od jadrovej energie a väčšie finančné dotácie na kompenzáciu cien energií pre nízkopríjmových obyvateľov.
Čítajte viac: https://svet.sme.sk/c/23040850/tisice-ludi-protestovali-v-nemeckych-mestach-pre-energeticku-krizu.html?ref=mnt
{% endblock %}